# Sample env file for use with Flask app as well as database
# init code. Duplicate this file as .env in the letterboxd-app
# and src directories and update the enviornment variables to
# reflect your own config.

# Config for RDS Postgres db
BOXD_DB_NAME=postgres
BOXD_DB_USER=postgres
BOXD_DB_PASSWORD=yourpassword
BOXD_DB_HOST=db-name.123456789012.us-east-1.rds.amazonaws.com
BOXD_DB_PORT=5432

# Name of local Postgres db (can omit this from Flask env)
LOCAL_BOXD_DB_NAME=local-db