html {
	background-color: #fcfff5;
}

.rounded-panel {
	height: 100%;
	border-color: black;
	border-width: 10px;
	border-style: double;
	border-radius: 30px;
	width: 800px;
	height: 700px;
	margin: auto;
	overflow: auto;
}

.inner-rounded-panel {
	border-style: dotted;
	border-color: black;
	border-width: 2px;
	border-radius: 20px;
	margin: 10px auto;
}

.panel-contents {
	margin: 15px;
}

/*
h1 {
	/* animation: colorshift 1s infinite alternate;
	background: linear-gradient(to top left, red, rgba(255, 153, 150, 0), red), linear-gradient(to top right, yellow, rgba(255, 153, 150, 0), rgba(0, 255, 0, 1)) rgba(0, 153, 255, 1);
	/* clip hackery
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}
*/

a:visited {
	color: blue;
}

#movie-header {
	margin-bottom: 10px;
}

#movie-header h1 {
	display: inline-block;
}

#movie-header span {
	font-size: 22px;
	font-style: italic;
	padding-left: 8px;
}

.review-text {
	text-indent: 40px;
	margin: 0 15px;
}

#personTable {
	table-layout: fixed;
	width: 380px;
}

th {
	text-align: left;
}

.expander {
	cursor: pointer;
	color: blue;
	font-style: italic;
	text-decoration: underline;
}

ul {
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

#default-ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 30px;
}

.hidden {
	display: none;
}