a:visited {
	color: blue;
}

#movie-header h1 {
	display: inline-block;
}

#movie-header span {
	font-size: 22px;
	font-style: italic;
	padding-left: 8px;
}

td {
	padding: 0 100px 0 0;
}

th {
	text-align: left;
}

.expander {
	cursor: pointer;
	color: blue;
	font-style: italic;
	text-decoration: underline;
}

ul {
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

li {
	display: none;
}