{% extends "base.html" %}

{% block content %}
	<h1>Query Tool</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.query_type() }}
			{{ form.search_term(size=32, autocomplete="off") }}
			{{ form.submit() }}
		</p>
		<p>
			{% for error in form.query_type.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{% for error in form.search_term.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		{% if results %}
			<hr>
			<h2 style="margin-bottom: 7px;">Search results for {{ results_type }} "{{ search_term }}":</h2>
			{% if results_type == "movie" %}
				<ul style="margin-left: 15px;">
				{% for result in results %}
					<li style="margin: 5px 0;">
						<div><a href="{{ url_for('movie', movie_href=result.movie_href) }}">{{ result.movie_name }}</a> &nbsp;-&nbsp; {{ result.star_rating }}</div>
						<div style="font-style: italic; text-indent: 2em;">dir. {{ result.director }}</div>
					</li>
				{% endfor %}
				</ul>
			{% elif results_type == "person" %}
				<ul style="margin-left: 15px;">
				{% for result in results %}
					<li><a href="{{ url_for('person', person_id=result.person_id) }}">{{ result.person_name }}</a> - {{ result.role }} ({{ result.ct }})</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% else %}
			<p>
				<div>Use the dropdown to query by name for a movie or a person (actor, director, etc.). Examples:</div>
				<ul id="default-ul">
					<li>movie, "truman show"</li>
					<li>person, "scorsese"</li>
				</ul>
			</p>
		{% endif %}
	</form>
{% endblock %}